.navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
}

.form-head h3 {
  color: aliceblue;
}

.maincon::before {
  content: "";
  position: absolute;
  background: url("/src/img/bg.jpg") no-repeat center center/cover;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

.maincon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: auto;
  padding: 90px;
}

.con {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-input {
  background-color: rgb(253, 141, 113);
  border: 2px solid rgb(245, 67, 31);
  height: 100px;
  width: 500px;
}

.table {
  width: 800px;
  background-color: rgb(83, 239, 184);
  border-color: rgb(22, 134, 98);
}
